@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.roboto {
  font-family: "Roboto", sans-serif;
}

@keyframes ledLight {
  0% {
    opacity: 0.2; /* Ban đầu mờ */
    transform: scaleX(0.5); /* Hơi nhỏ lại */
  }
  50% {
    opacity: 1; /* Sáng hết cỡ ở giữa chu kỳ */
    transform: scaleX(1); /* Kích thước bình thường */
  }
  100% {
    opacity: 0.2; /* Mờ lại ở cuối chu kỳ */
    transform: scaleX(0.5); /* Trở lại nhỏ lại */
  }
}

.led-animation {
  animation: ledLight 2s infinite alternate; /* Áp dụng animation */
  background-color: #00ff00; /* Màu xanh lá cây */
  border-radius: 50%; /* Hình tròn */
  width: 10px; /* Kích thước của đèn LED */
  height: 10px; /* Kích thước của đèn LED */
  display: inline-block; /* Hiển thị inline để có thể căn chỉnh với văn bản */
  margin-right: 5px; /* Khoảng cách giữa đèn LED và văn bản */
  vertical-align: middle; /* Căn chỉnh với văn bản */
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Hiệu ứng bóng mờ */
  transition: transform 0.2s ease-in-out; /* Hiệu ứng chuyển động mượt mà khi hover */
}